

@import url(//fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic|Lato:400,300,300italic,400italic,700,700italic);

body{
	font-family: 'Lato', 'Raleway';
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', 'Raleway', sans-serif;
	font-weight: 700;
	letter-spacing: 0;
}

h2 + h3{
	font-family: 'Lato', 'Raleway', sans-serif;
}

body a {
	color: #BE66CC;
}

body h1 a {
	color: #3E0C46;
}

p{
	font-family: 'Lora';
	margin-top: 0.7rem;
}

section#body.welcome{
	background-image: url('../images/bar-bg3.png');
	background-size: cover;
	padding-top: 10rem;
}

/* ----------------------------------------------------------------hal varian page */

#welcome-letter{
	display: inline-block;
	width: 66%;
	padding-right: 30px;
}

#welcome-letter h1{
	text-align: left;
	text-transform: none;
}

#letter-header{
	border-bottom: 2px solid #737373;
	margin-bottom: 2rem;
}

.author{
	font-size: 1.3rem;
	margin-bottom: 0rem;
	font-style: italic;
	line-height: 1;
}

.bio{
	margin-top: 0rem;
	font-size: 1rem;
	font-style: italic;
}

aside{
	display: inline-block;
	width: 33%;
	padding-left: 30px;
	vertical-align: top;
	padding-top: 2.2rem;
}

aside > h1{
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #737373;
	text-align: left;
	margin-bottom: 0.3rem;
}

aside > ul{
	list-style: none;
	padding-left: 0px;
	font-family: 'Lato', sans-serif;
	font-size: 1.3rem;
	font-weight: 700;
}

aside > ul > li{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #EAEAEA;
	line-height: 1;

}

/* ----------------------------------------------------------------index page */


#breadcrumbs{
	display: none;
}

#header #logo {
	max-width: 150px;
}

#header #logo h3 {
	top: 55%;
}

h4{
	font-size: 1.3rem;
	margin-bottom: 0.2rem;
	line-height: 120%;
	font-family: 'Lato';
	font-weight: 600;
}

#sidebar h4 a{
	color: #3E0C46;
	display: inline-block;
	line-height: 120%;
	margin-top: 0.5rem;
}

#sidebar h4 a:hover{
	color: #BE66CC;
}

.articulo{
	width: 44%;
	display: inline-block;
	margin-right: 4%;
	vertical-align: top;
}

.featured{
	width: 92%;
}

div.articulo a h4{
	color: #3E0C46;
}

div.articulo a h4:hover{
	color: #BE66CC;
}

h6{
	font-size: 1.25rem;
	text-transform: uppercase;
	color: #737373;
	font-weight: 600;
	border-bottom: 2px solid #737373;
	margin-right: 1.5rem;
	margin-top: 1.5rem;
	letter-spacing: 0;
}

#sidebar h6{
	margin-bottom: 1rem;
	border-bottom: 0px;
}


h3{
	font-size: 1rem;
	text-transform: uppercase;
	color: #737373;
	font-weight: 600;
	border-bottom: 2px solid #737373;
	margin-right: 1.5rem;
	margin-top: 1.5rem;
	letter-spacing: 0;
	font-family: 'Lato';
	font-weight: 600;
}

#sidebar h3{
	margin-bottom: 1rem;
	border-bottom: 0px;
}


h1{
	font-family: 'Lato';
	text-transform: uppercase;
	font-weight: 700;
	color: #3E0C46;
	text-align: center;
	line-height: 1.2;
	letter-spacing: -1px;
}

h1#frontpage{
/*	border-top: 1px solid #3E0C46;*/
	margin-top: 35px;
	margin-bottom: 10px;
	margin-top: 30px;
	text-align: center;
}

body h2{
	text-align: left;
	border-bottom: 2px solid #EAEAEA;
}

.buttonholder{
	width:300px;
	margin-right: auto;
	margin-left: auto;
}

.fakebutton{
	display: inline-block;
	width:300px; 
	padding-right:30px; 
	padding-left:30px; 
	padding-top: 15px; 
	padding-bottom:15px; 
	background-color: #3E0C46; 
	margin-right:auto; 
	margin-left:auto; 
	text-align:center; 
	border-radius:5px;
	margin-bottom: 50px;
	font-family: 'Lato'
}

button{
	padding-right:15px; 
	padding-left:15px; 
	padding-top: 10px; 
	padding-bottom:10px; 
	background-color: #ffffff; 
	text-align:center; 
	border-radius:5px;
	border: 1px solid #A1A1A1;
	font-family: 'Lato';
	color: #3E0C46;
}

button:hover{
	background-color: #EAEAEA; 
}

p.fakebutton:hover{
	background-color: #BE66CC;
}

p.introtext{
	padding-left:16%; 
	padding-right:16%; 
	margin-right:auto; 
	margin-left: auto; 
	padding-top:0px; 
	font-size: 1.3rem; 
	margin-top: 0px;
	text-align:center; 
	line-height:1.5;
	font-family: 'Lato';
}

/* ----------------------------------------------------------------subscription form */


form{
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	font-family: "Lato";
}

input{
	font-family: "Lato";
}

form .buttons button{
	background-color: #3E0C46;
	color: #B2FFE8;
	border:none;
	border-radius: 5px;
	font-weight: 700;
}

form .buttons button:hover{
	background-color: #BE66CC;
}

.pure-g [class *="pure-u"]{
	font-family: "Lato", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

#author-info{
	margin-bottom: 10px;
}

.list-item{
	width:45%;
	display: inline-block;
	vertical-align: top;
	border-bottom: 0px;
	margin-right: 20px;
	margin-bottom: 0rem;
}

.list-item > div.list-blog-padding{
	padding-right: 20px;

}

div#item > div.list-item{
	width:100%;
}

#issuehead{
	text-align: center;
}

#issuehead h1{
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 10px;
}

.index-logo{
	width: 9.4rem;
	vertical-align: top;
}

#sidebar{
/*	background-color: #D0F4EA;*/
	padding-left: 1.5rem;
	padding-right: 1.5rem;
/*	max-height: 800px;*/
	margin-left: 20px;
	border-left: 4px solid #EAEAEA;
}

.byline, .by-org{
	font-size: 1rem;
	display: block;
	line-height: 120%;
	font-weight: 400;
	color: #737373;
	font-family: 'Lato'
}

.by-org{
	font-style: italic;
}

#categories{
	text-align: center;
}

#categories h3{
	display: inline-block;
	border-bottom: 0px;
	margin-top: 0px;
	margin-right: 1rem;
}

header#header {
	background-color: rgb(62,12,70);
}

div#sb-site > header.scrolled {
	background-color: rgba(62,12,70,0.9) !important;
}

header #logo h3 {
	border-bottom:0px;
}

#header #navbar ul.navigation li a{
	font-family: 'Lato';
	font-weight: 600;
}

#navbar li a {
	color: #ffffff;
}

#navbar li a:hover {
	color: #1BB3E9;
}

#header.scrolled #navbar li a {
	color: #ffffff !important;
}

#header.scrolled #navbar li a:hover {
	color: #1BB3E9 !important;
}

#categories h3 a {
	color: #737373;
	word-spacing: 0.2rem;
}

#categories h3 a:hover {
	color: #1BB3E9;
}

.indexthumb{
	width: 100%;
}

.blog-content-item .list-item > .list-blog-padding > p:nth-child(2) {
	font-size: 1rem;
}

.list-item .list-blog-header h1 {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-transform: none;
    text-align: left;
}

.list-item .list-blog-header h1 a{
    color: #444444;
}

.blog-content-item .list-item .list-blog-padding h2 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    text-align: left;
    color: #444444;
}

.list-item .list-blog-padding h3 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    text-align: left;
    font-weight: 700;
    color: #737373;
    border: none;
    text-transform: none;
    line-height: 1.2;
}

#footer{
	color: #A1A1A1;
}

dialog {
        display: block;
        z-index: 1;
        position: fixed;
        top: 100px;
        right: 15%;
        left: 15%;
        width: 70%;
        border: 1px solid #EAEAEA;
        border-radius: 5px;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 3%;
        max-height: 550px;
        overflow: scroll;
        }

    dialog h1{
      font-size: 1.5rem;
      text-transform: none;
      letter-spacing:0px;
    }
    .modal {
      position: fixed;
      left: 25%;
      right: auto;
      top: 25%;
      width: 50%;
      margin: 0 auto;
      border: 1px solid red; 
      background: #fff;
      z-index: 667;
      padding: 2em;
    }
    .modal-overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: #000;
      opacity: .6;
      z-index: 666;
    }

    .hidden{
      display: none;
    }

    .js-modal{
      width:100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    #js-modal-close{
    	position: absolute;
    	top:20px;
    	right:20px;
    }

    #endnotes{
    }

#stanza, #turingpoems{
	padding-right:15px; 
	padding-left:15px; 
	padding-top: 10px; 
	padding-bottom:10px; 
	background-color: #ffffff; 
	text-align:center; 
	border-radius:5px;
	border: 1px solid #A1A1A1;
	font-family: 'Lato';
	color: #3E0C46;
	margin-bottom: 25px;
}

#stanza:hover,#turingpoems:hover{
	background-color: #EAEAEA; 
}

#stanzap, .sample{
	padding-left: 1rem;
	font-style: italic;
}

p.answer{
	display: none;
	color: red;
}

#quiz{
	display: none;
	padding-bottom: 3rem;
}

#showanswer{
	font-style: italic;
	padding: 0px;
	border: none;
	border-bottom: 1px solid #3E0C46;
	border-radius: 0px;
}




	