{% extends 'partials/blog_item.html.twig' %}
{% if page.header.visualization.d3js == true or page.header.visualization.d3js == null %}    
    {% if site.visualization.d3js == true %}
        {% do assets.addJs('theme://js/d3.min.js') %}
    {% endif %}
{% endif %}
{% if site.visualization.topojson == true or page.header.visualization.topojson == true %}
    {% do assets.addJs('theme://js/topojson.min.js') %}
{% endif %}
{% block content %}
{% if config.plugins.breadcrumbs.enabled %}
    {% include 'partials/breadcrumbs.html.twig' ignore missing %}
{% endif %}  
<div id="visualization">
</div>
{% endblock %}