body a {
	color: #BE66CC;
}

#body{
	background-image: url('/iSR_Grav/grav-admin/user/images/bar-bg2.png');
	background-size: cover;
}


#header #logo {
	max-width: 150px;
}

#header #logo h3 {
	top: 55%;
}

h1{
	font-family: 'Raleway';
	text-transform: uppercase;
	font-weight: 700;
	color: #3E0C46;
	margin-bottom: 0px;
	margin-top: 30px;
}

h1#frontpage{
/*	border-top: 1px solid #3E0C46;*/
	margin-top: 35px;
}

body h2{
	text-align: center;
}

.fakebutton{
	width:300px; 
	padding-right:30px; 
	padding-left:30px; 
	padding-top: 15px; 
	padding-bottom:15px; 
	background-color: #3E0C46; 
	margin-right: auto; 
	margin-left:auto; 
	text-align:center; 
	border-radius:5px;
	margin-bottom: 50px;
}

p.fakebutton:hover{
	background-color: #BE66CC;
}

p.introtext{
	padding-left:16%; 
	padding-right:16%; 
	margin-right:auto; 
	margin-left: auto; 
	padding-top:0px; 
	font-size: 1.3rem; 
	margin-top: 0px;
/*	border-top: 1px solid #3E0C46; */
	text-align:center; 
	line-height:1.5;
}

form{
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

form .buttons button{
	background-color: #3E0C46;
	color: #B2FFE8;
	border:none;
	border-radius: 5px;
	font-weight: 700;
}

form .buttons button:hover{
	background-color: #BE66CC;
}
	